{% extends "base.html" %}

{% block content %}
    <h1>TODO list</h1>

    {% if task_list %}
      <ul>
      {% for task in task_list %}
        <li>
        <ul>
          <li><b>{{ task.name }}</b></li>
          <li>Created: {{ task.date }}</li>
          {% if task.deadline %}<li>Deadline: {{ task.deadline }}</li>{% endif %}
          <li>Tags: {% for tag in task.tags %}{{ tag }}{% endfor %} <a href="{% url 'list:task-update' pk=task.id %}">Update</a><a href="{% url 'list:task-delete' pk=task.id %}">Delete</a></li>
        </ul>
        
        </li>
      {% endfor %}
      </ul>
    {% endif %}



{% endblock %}
