{% extends "base.html" %}

{% block content %}
    <div class="tags-container">
        <h1 class="tags-title">Tags</h1>
        <div class="add-tag">
            <a href="{% url 'catalogue:tag-create' %}" class="btn btn-primary">Add Tag</a>
        </div>
        {% if tag_list %}
            <table class="tag-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tag in tag_list %}
                        <tr class="tag-row">
                            <td>{{ tag.name }}</td>
                            <td>
                                <a href="{% url 'catalogue:tag-update' pk=tag.id %}" class="btn btn-secondary">Update</a>
                            </td>
                            <td>
                                <a href="{% url 'catalogue:tag-delete' pk=tag.id %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="no-tags">No tags available. Add a new tag to get started.</p>
        {% endif %}
    </div>
{% endblock %}
